@{
    ViewBag.Title = "Home Page";
}

@*https://scontent.fsgn2-6.fna.fbcdn.net/v/t39.30808-6/297681179_1222967368515603_916350628120636282_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=730e14&_nc_ohc=bOQlt54NHwAAX8byAMP&_nc_ht=scontent.fsgn2-6.fna&oh=00_AT-ulzG1cfsxwxU04HN7WFRFuaVPeNbkiBD225-LU9cfrw&oe=6309F04B*@


<div class="container-fluid px-0">
    <section class="about-container">
        <div class="row">
            <div class="col-md-12 col-xl-9 mb-4 mx-auto">
                <div class="card m-4">
                    <div class="row px-4 d-flex justify-content-center">
                        <div class="about-title">
                            <h2>We Are</h2>
                            <h2 style="color: #a0c4fc;"> AIMIGEN</h2>
                        </div>
                        <div class="about-sub-title">
                            <p class="text-center">Providing you information about things in Teyvat world</p>
                        </div>

                    </div>

                    <div class="row mx-auto d-flex justify-content-center">
                        <div class="col-sm-7 p-4">

                            <p>Coming with AIMIGEN, we will give you a place to write your questions around the game Genshin Impact.</p>
                            <p>This is a place where travelers can find answers to their questions. Besides, you can also help others with your experience.</p>
                            <p>That's why you can start discussions with other travelers through the button below</p>
                            <a href="/asks/indexQuestionView" class="btn btn-primary">Let's Go</a>
                            
                        </div>

                        <div class="col-sm-4 d-flex d-sm-block justify-content-center">
                            <img src="~/Content/Image/MHY-About.png" width="250" />
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>


    <section class="news-container" style="background: no-repeat center url('../../Content/Image/MHY-New-Background.png'); background-size: cover;">
        <div class="row m-4">
        <h1 class="text-white d-flex justify-content-center my-4 py-4">NEWS</h1>
        <div class="col-md-12 py-4">
            <div class="card mx-4 mb-4" style="background-color: unset;">
                <div class="news-main row px-5">
                    <div class="news-swipper col-md-12 col-xl-5" style="padding: 0;">
                        <div id="carouselExampleDark" class="carousel carousel-slide slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active" data-bs-interval="4000">
                                    <a href="https://www.youtube.com/watch?v=rhvEIQj92w0">
                                        <img src="~/Content/Image/MHY-New1-Index.png" class="d-block w-100" alt="Responsive image">
                                    </a>
                                    <div class="carousel-caption d-none d-xl-block">

                                    </div>
                                </div>
                                <div class="carousel-item" data-bs-interval="4000">
                                    <a href="https://www.youtube.com/watch?v=_76oCzo8sjU">
                                        <img src="~/Content/Image/MHY-New2-Index.png" class="d-block w-100" alt="Responsive image">
                                    </a>
                                    <div class="carousel-caption d-none d-xl-block">

                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <a href="https://www.youtube.com/watch?v=CwHoKErDdDU">
                                        <img src="~/Content/Image/MHY-New3-Index.png" class="d-block w-100" alt="Responsive image">
                                    </a>
                                    <div class="carousel-caption d-none d-xl-block">

                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <a href="https://www.youtube.com/watch?v=UDQ7m2L9sK8">
                                        <img src="~/Content/Image/MHY-New4-Index.png" class="d-block w-100" alt="Responsive image">
                                    </a>
                                    <div class="carousel-caption d-none d-xl-block">

                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-7 p-3 " style="background: rgba(38,18,12,0.62);">
                        <div>
                            <p class="text-warning d-inline-flex" style="border-bottom: 3px solid #ffc107; margin-bottom: 0;">
                                Lastest
                            </p>
                        </div>
                        <div class="news-title-item">
                            <p class="text-white py-2 my-auto ml-0">Gourmet Tour: "Liyue's Cuisine Collection" Issue No. 1 | Ges... </p>
                            <i class="text-white-50 my-auto m-auto">Oct 9, 2022</i>
                        </div>
                        <div class="news-title-item">
                            <p class="text-white py-2 my-auto ml-0">The web event for Genshin Impact's new character: Nilou is ... </p>
                            <i class="text-white-50 my-auto m-auto">Oct 8, 2022</i>
                        </div>
                        <div class="news-title-item">
                            <p class="text-white py-2 my-auto ml-0">"Sometimes, you can convey more with dance than words." ... </p>
                            <i class="text-white-50 my-auto m-auto">Oct 7, 2022</i>
                        </div>
                        <div class="news-title-item">
                            <p class="text-white py-2 my-auto ml-0">Character Teaser - "Nilou: Dancing Grace" | Genshin Impac... </p>
                            <i class="text-white-50 my-auto m-auto">Oct 7, 2022</i>
                        </div>
                        <div class="news-title-item">
                            <p class="text-white py-2 my-auto ml-0">Of Ballads and Brews Event Cutscene Animation: "The Win... </p>
                            <i class="text-white-50 my-auto m-auto">Oct 5, 2022</i>
                        </div>

                        <div class="news-more-text">
                            <a href="/characters/indexView" class=" pt-2 d-flex justify-content-end">More...</a>
                        </div>
                    </div>
                </div>
            </div>

                @*<div class="news-title">
            <p>Hành trình ẩm thực: tuyển tập ẩm thực</p>
            <p>09/10/2022</p>
        </div>*@
            </div>
        </div>
    </section>
</div>






@*<div id="carouselExampleDark" class="carousel carousel-fade slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000">
            <a href="/admin/userAccount/index">
                <img src="~/Content/Image/SumeruSlide.png" class="d-block w-100" alt="Responsive image">
            </a>
            <div class="carousel-caption d-none d-xl-block">

            </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <a href="/admin/userAccount/index">
                <img src="~/Content/Image/InazumaSilde.png" class="d-block w-100" alt="Responsive image">
                </a>
                <div class="carousel-caption d-none d-xl-block">

                </div>
        </div>
        <div class="carousel-item">
            <a href="/admin/userAccount/index">
                <img src="~/Content/Image/LiyueSlide.png" class="d-block w-100" alt="Responsive image">
                </a>
                <div class="carousel-caption d-none d-xl-block">

                </div>
        </div>
        <div class="carousel-item">
            <a href="/admin/userAccount/index">
                <img src="~/Content/Image/MonstadtSlide.png" class="d-block w-100" alt="Responsive image">
                </a>
                <div class="carousel-caption d-none d-xl-block">

                </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>*@

@*<div class="container">
    <hr style="margin-top: 50px;" />
    <h2 style="color: red; text-align: center;">FIVE STAR CHARACTERS IN VERSION 3.0</h2>
    <div class="row">
        <div class="col-lg-4" style="text-align: center;">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" style="cursor:pointer;" src="~/Content/Image/TighnariAvatar.png" />
            <h3 style="color: #9bc927;">TIGHNARI</h3>
            <p>An Avidya Forest Watcher and botanical scholar. He leads a fruitful life of patrolling the rainforest, protecting the ecology, and lecturing fools every day.</p>
            <p><a class="btn btn-primary" href="#">View details &raquo;</a></p>
        </div> /.col-lg-4 
        <div class="col-lg-4" style="text-align: center;">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" style="cursor:pointer;" src="~/Content/Image/ZhongliAvatar.jpg" />
            <h3 style="color: #f2b722;">ZHONGLI</h3>
            <p>Wangsheng Funeral Parlor mysterious consultant. Handsome, elegant, and surpassingly learned.</p>
            <p><a class="btn btn-primary" href="#">View details &raquo;</a></p>
        </div> /.col-lg-4 
        <div class="col-lg-4" style="text-align: center;">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" style="cursor:pointer;" src="~/Content/Image/KokomiAvatar.png" />
            <h3 style="color: #5fc1f1;">KOKOMI</h3>
            <p>Kokomi is the Divine Priestess of Watatsumi Island, and also serves as its supreme leader.</p>
            <p><a class="btn btn-primary" href="#">View details &raquo;</a></p>
        </div> /.col-lg-4 

        <h4 style="color: red; text-align: center; margin-top: 50px;"><a class="label-primay" href="/characters/indexView" style="text-decoration: none;">More...+</a></h4>
    </div> /.row 


    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 " style="font-display:swap;">
            <h1 class="featurette-heading" style="color: red; ">NEWS </h1>
            <p class="lead">Paimon from the Teyvat will bring a lot of information that you already need.</p>
            <p class="lead">Don't hesitate ! Come on here to explore the Teyvat world with Paimon.</p>
            <a class="btn btn-primary" href="/news/indexView"> LET'S GO</a>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="~/Content/Image/PaimonNews.png" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="400" style="cursor:pointer;" />
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-1" style="font-display:swap;">
            <h1 class="featurette-heading" style="color: red; ">QUESTIONS </h1>
            <p class="lead">The Teyvat world still hide a lot of things that traverller never know !</p>
            <p class="lead">Fortunately, we have a place for travelers to exchange information with everyone. Let paimon see your solidarity and inquisitive spirit ! ^~^</p>
            <a class="btn btn-primary" href="/asks/indexQuestionView"> LET'S GO</a>
        </div>
        <div class="col-md-5 ">
            <img src="~/Content/Image/PaimonQuestions.png" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="400" style="cursor:pointer;" />
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 " style="font-display:swap;">
            <h1 class="featurette-heading" style="color: red; ">FEEDBACKS </h1>
            <p class="lead">
                Who doesn't make mistakes in life, right? ^^
            </p>
            <p class="lead">
                Therefore, please leave your ideas about the service as well as the quality of the page. From there, Paimon along with the admin team will try to improve better and better.
            </p>
            <a class="btn btn-primary" href="/feedbacks/create"> LET'S GO</a>
        </div>
        <div class="col-md-5 ">
            <img src="~/Content/Image/PaimonFeedbacks.png" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="400" style="cursor:pointer;" />
        </div>
    </div>

    <hr class="featurette-divider">
</div>*@





