@model GIFanpage.Models.Feedback

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<style>

    .change-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-wrapper > img {
        display: block;
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: center;
        transition: 200ms ease-in-out;
    }
</style>
<div class="row" style="margin-bottom: 20px;">
    <div class="col-md-12">
        <div class="card">
            <div class="row py-3">
                <div class="col-md-12 px-5">
                    <div style="display:inline-flex; width: 100%;">
                        <div>
                            <h2 class="text-danger" style="padding-top: 20px;">Feedback's User</h2>
                        </div>
                        <a href="/admin/feedbackUser/index" style="text-decoration: none; margin-left: auto; margin-top: 30px;">
                            <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="submit"><i class="pe-7s-back btn-icon-wrapper"> Back to List</i></button>
                        </a>
                    </div>
                    <hr />
                </div>
                <div class="col-md-12">

                    <div class="row">
                        <div class="col-md-5">
                            <div class="change-img p-4">
                                <div class="img-wrapper">
                                    <img src="@Url.Content(Model.User.UserImg)" width="200" class="bd-placeholder-img rounded-circle" id="previewImage" />
                                </div>
                            </div>

                        </div>
                        <div class="col-md-7">
                            <div class="bg-secondary mx-3 p-2 rounded" style="max-width: 40%;">
                                <h3 class="h2 px-3 text-white mb-0">@Model.User.Name</h3>
                            </div>
                            <div class="card-body px-4 p-sm-4">

                                <ul class="list-unstyled mb-1-9">
                                    <li><h3 class="fw-bolder">@Model.FeedbackTitle</h3></li>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 fw-bolder">Feedback Content: </span> @Model.FeedbackContent</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
