@model IEnumerable<GIFanpage.Models.Character>

@{
    ViewBag.Title = "IndexView";
}

<style>
    

    .card {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.2s ease-in-out;
        box-sizing: border-box;
        margin-top: 10px;
        margin-bottom: 10px;
        cursor: pointer;
    }

        .card:hover {
            box-shadow: 0 5px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        }

        .card > .card-inner {
            padding: 10px;
        }

        .card .header {
            margin-bottom: 5px;
        }

        .card img {
            width: 100%;
        }

    .search {
        position: relative;
        box-shadow: 0 0 40px rgba(51, 51, 51, .1);
    }

        .search input {
            height: 50px;
            text-indent: 25px;
            border: 2px solid #d6d4d4;
        }


            .search input:focus {
                box-shadow: none;
                border: 2px solid blue;
            }

        .search .fa-search {
            position: absolute;
            top: 18px;
            left: 18px;
        }

        .search button {
            position: absolute;
            top: 5px;
            right: 5px;
            height: 40px;
            width: 110px;
            background: blue;
        }
</style>

<div class="container p-5" style="margin-top: 18px; margin-bottom: 15px; min-height: 448px;">
    <div class="row  d-flex justify-content-center ">
        <div class=" col-md-12">
            <div class="search">
                <form action="/characters/indexView">
                    <i class="fa fa-search"></i>
                    <input type="search" name="Search" class="form-control" placeholder="Find any character you want !">
                    <button class="btn btn-primary">Search</button>
                </form>
            </div>

        </div>
        <div class="row">
            <img src="https://webstatic.hoyoverse.com/upload/event/2022/08/20/3a757186524e4d4aa789091150cb874a_9034059694275815069.png?x-oss-process=image/format,webp/quality,Q_90" style="background-color: forestgreen; border-radius: 5px; margin-top: 20px; margin-bottom: 20px;" />
            @if (ViewBag.Msg == null)
            {
                foreach (var item in Model)
                {

                    <div class="col-sm-12 col-md-6 col-lg-3 col-xs-3">
                        <a href="/characters/details?character=@item.CharacterID" style="text-decoration: none;">
                            <div class="card" style="border-radius: 20px;">
                                <div class="image">
                                    <img src="@Url.Content(item.CharacterImageCard)" class="bd-placeholder-img rounded-circle" width="50" />

                                </div>
                                <div class="card-inner" style="text-align:center; color: black;">
                                    <hr />
                                    <h3>@item.CharacterName</h3>
                                </div>
                            </div>
                        </a>
                    </div>


                }

            }
            else
            {
                <h1 class="jumbotron text-center" style="background-color: white; margin: 40px auto; padding: 40px 0;">@ViewBag.Msg</h1>
            }

        </div>
    </div>
</div>

<button onclick="topFunction()" class="btn btn-danger btn-floating btn-lg" id="myBtn" title="Go to top" style="position: fixed; right: 30px; bottom: 100px; display: none;">
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
</button>


<script>
    //Get the button:
    mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
</script>





